<template>
  <div @contextmenu.prevent="$emit('rightRlicked', x, y)" @click="$emit('clicked', x, y) " style="margin: 2px; width: 32px; height: 32px" :class="val >= 0 ? '' : 'is-clickable'" class="is-flex is-flex-direction-row is-justify-content-center is-align-content-center">
    <fa class="a" style="color: var(--clr-main); width: 32px; height: 32px;" v-if="val < 0" :icon="getIcon(val)" />
    <fa style="color: var(--clr-sec); width: 32px; height: 32px;" v-if="val == 0" icon="fa-soild fa-square" />
    <fa style="color: var(--clr-main-bright); width: 32px; height: 32px;" v-if="val > 0" :icon="getIcon(val)" />
  </div>
</template>

<script>

export default {
  name: 'CellComponent',
  props: {
    val: Number,
    x: Number,
    y: Number,
  },
  data() {
    const type = { // Celdas especiales
      empty: 0,
      emptyFilled: -1,
      emptyFilledMarked: -2,
      bomb: -3,
      bombFilled: -4,
      bombFilledMarked: -5,
    }
    return {
      type,
      icon: '',
    }
  },
  computed: {
    isIcon() {
      return this.isIcon < 0 && this.isIcon > -6
    },
  },
  methods: {
    getIcon(val) {
      if (val == this.type.bomb) return 'fa-solid fa-bomb'
      if (val == this.type.emptyFilled || val == this.type.bombFilled) return 'fa-solid fa-square'
      if (val == this.type.emptyFilledMarked || val == this.type.bombFilledMarked) return 'fa-solid fa-flag'

      if (val > 0) return 'fas-solid fa-' + val

      return ''
    },
  },
  mounted() {
  },
}
</script>

<style scoped>

.a:hover {
  transform: scale(1.1);
}

.a:active {
  transform: scale(0.9);
  filter: brightness(0.9);
}

</style>