<template>
  <div>
    <button @click="$emit('play')" class="btn btn-primary" style="font-family: 'dimitri'">
      <fa icon="fa-solid fa-play" style="width: 40px; height: 40px" />
    </button>
  </div>
</template>

<script>

export default {
  name: 'ControlsComponent',
}

</script>

<style scoped>

.btn {
  margin: 3px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  font-size: 23pt;
}

.btn-primary {
  color: var(--clr-main);
  background: transparent;
  transition-duration: 100ms;
}

.btn-primary:hover {
  transform: scale(1.1);
  filter: brightness(1.3);
}

.btn-primary:active {
  transform: scale(0.9);
  filter: brightness(0.8);
}

</style>