<template>
  <div style="border: solid 3px var(--clr-main); border-radius: 8px; padding: 4px;">
    <div style="margin: 0px; padding: 0px;" v-for="(y, yindex) in cells" v-bind:key="yindex" class="is-flex is-gapless">
      <div class="is-flex is-gapless" style="margin: 0px; padding: 0px;" v-for="(x, xindex) in y" v-bind:key="xindex">
        <Cell @clicked="handleClick" :x="xindex" :y="yindex" :val="x" />
      </div>
    </div>
  </div>
</template>

<script>

import Cell from './Cell'

export default {
  name: 'GameComponent',
  components: {
    Cell,
  },
  data() {

    // Celdas especiales
    const type = {
      empty:              0, // Vacio
      emptyFilled:       -1, // Vacio oculto
      emptyFilledMarked: -2, // Vacio oculto marcado
      bomb:              -3, // Bomba
      bombFilled:        -4, // Bomba oculta
      bombFilledMarked:  -5, // Bomba oculta marcada
    }
    return {
      cells: [],
      type,
      canPlay: false, // ¿Puede el jugador realizar una accion?
    }
  },
  mounted() {
    this.start()
  },
  props: {
    rows: { // Numero de filas
      type: Number,
      default: 21,
    },
    columns: { // Numero de columnas
      type: Number,
      default: 16,
    },
    minesPercent: { // Porcentaje de minas relativo al ancho y alto
      type: Number,
      default: 0.4,
    }
  },
  methods: {

    /*
     * Arranca el juego
     */

    start() {
      this.cells = this.createCells()
      this.enableActions()
    },

    /*
     * Activa la jugabilidad
     */

    enableActions() {

      this.canPlay = true
    },

    /*
     * Desactiva la jubabilidad
     */

    disableActions() {

      this.canPlay = false
    },

    /*
     * Crea una lista de celdas con arreglos de dos dimensiones que
     * contienen cada indice del ancho y alto de las celdas
     */

    createCellsReference() { 
      let cells = []
      for (let y = 0; y < this.rows; y++) {
        for (let x = 0; x < this.columns; x++) {
          cells.push([x, y])
        }
      }
      return cells
    },

    /*
     * Crea una matriz de celdas a partir de un ancho y un alto
     */

    createMatrix(w, h, fill = this.type.empty) {
      let cells = []
      for (let y = 0; y < h; y++) {
        let row = []
        for (let x = 0; x < w; x++) {
          row.push(fill)
        }
        cells.push(row)
      }
      return cells
    },

    /*
     * Escoje un numero random entre cero y x
     */

    pickRandom(x) {

      return Math.floor(x * Math.random())
    },

    /*
     * Imprime de forma bonita las celdas en la consola
     */

    printCells(cells) {
      let text = ''

      for (let y = 0; y < cells.length; y++) {
        for (let x = 0; x < cells[y].length; x++) {
          text += '\t' + cells[y][x].toString()
        }
        text += '\n'
      }

      console.log(text)
    },

    /*
     * Crea las celdas con minas al azar
     */

    createCells() {

      // Crea una matriz
      let cells = this.createMatrix(this.rows, this.columns, this.type.emptyFilled)

      // Crea un arreglo con cada indice posible
      let references = this.createCellsReference()

      // Obtiene la cantidad total de minas a usar
      let mines = Math.floor((this.rows * this.columns) * this.minesPercent)

      // Colocar minas al azar
      while (mines > 0) {

        // Selecciona un indice al azar
        let n = this.pickRandom(references.length)
        let ref = references[n]

        // Coloca una bomba
        cells[ref[0]][ref[1]] = this.type.bombFilled

        // Quita el indice y una mina
        references.splice(n, 1)
        mines--
      }

      return cells
    },

    /*
     * Muestra las celdas
     */

    showCells() {
    },

    /*
     * Comprueba si este tipo es una bomba
     */

    isBomb(x) {

      return x == this.type.bomb || x == this.type.bombFilled
    },

    /*
     * Accion a efectuar al hacer click en una celda
     */

    handleClick(x, y) {
      // if (!this.canPlay) return

      let cell = this.cells[y][x]

      // Si esta celda es una bomba, mostrar celda y desabilitar acciones
      if (this.isBomb(cell)) {
        this.showCells()
        this.disableActions()
        return
      }

      if (cell == -1) {
        this.cleanAt(x, y)
      }
    },

    /*
     * Muestra las celdas ocultas que esten vacias
     */

    cleanAt(x, y) {
      let cells = this.getFilledArea(x, y)
      let count = this.getAllNeighborBombs()

      for (let y = 0; y < cells.length; y++) {
        for (let x = 0; x < cells[y].length; x++) {
          this.cells[y][x] = cells[y][x] ? count[y][x] : this.cells[y][x]
        }
      }


    },

    /*
     * Crea un objeto
     */

    objXY(x, y) {
      return {
        x: x,
        y: y,
      }
    },

    /*
     * Obtiene las celdas vecinas que sean de cierto tipo
     */

    getNeighborCellsOf(x, y, type = -1) {

      let cellObj = this.getNeighborCells(x, y)

      let e = []
      if (cellObj.top         == type) e.push(this.objXY(cellObj.x,     cellObj.y - 1))
      // if (cellObj.topRight    == type) e.push(this.objXY(cellObj.x + 1, cellObj.y - 1))
      if (cellObj.right       == type) e.push(this.objXY(cellObj.x + 1, cellObj.y))

      // if (cellObj.bottomRight == type) e.push(this.objXY(cellObj.x + 1, cellObj.y + 1))
      if (cellObj.bottom      == type) e.push(this.objXY(cellObj.x,     cellObj.y + 1))
      // if (cellObj.bottomLeft  == type) e.push(this.objXY(cellObj.x - 1, cellObj.y + 1))

      if (cellObj.left        == type) e.push(this.objXY(cellObj.x - 1, cellObj.y))
      // if (cellObj.topLeft     == type) e.push(this.objXY(cellObj.x - 1, cellObj.y - 1))

      return e
    },

    cleanObjXYsInMatrix(objXYs, matrix) {
      return objXYs.filter(e => matrix[e.y][e.x] == false)
    },

    /*
     * Regresa una matriz con las celdas que estan
     * vacias en cierta area. Funciona como una
     * cubeta de pintura, y te regresa el "Area"
     * que esta "bloqueada" por las bombas
     */

    getFilledArea(x, y) {
      // Crea una matriz
      let cells = this.createMatrix(this.rows, this.columns, false)

      // Termina la funcion si esta celda esta ocupada por una bomba
      if (this.isBomb(x, y)) {
        return cells
      }

      cells[y][x] = true

      let iter = []

      // Obtiene las celdas vacias vecinas
      let empty = this.getNeighborCellsOf(x, y, -1)
      iter = iter.concat(empty)


      // Mientras que halla celdas vecinas vacias
      while (iter.length > 0) {


        // Estableciendo celda
        cells[iter[0].y][iter[0].x] = true


        // Obtener las celdas vecinas que no esten en las celdas
        let n = this.cleanObjXYsInMatrix(this.getNeighborCellsOf(iter[0].x, iter[0].y, -1), cells)

        // Eliminando iteracion
        iter.shift()

        iter = iter.concat(n)
      }

      return cells
    },

    /*
     * Obtiene las bombas adyacentes de cada celda
     */

    getAllNeighborBombs() {
      let cells = this.createMatrix(this.rows, this.columns)

      this.iterCells((cell) => {
        cells[cell.y][cell.x] =
        (cell.cell        === this.type.bombFilled || cell.cell        === this.type.bomb ? 1 : 0) +
        (cell.topLeft     === this.type.bombFilled || cell.topLeft     === this.type.bomb ? 1 : 0) +
        (cell.top         === this.type.bombFilled || cell.top         === this.type.bomb ? 1 : 0) +
        (cell.topRight    === this.type.bombFilled || cell.topRight    === this.type.bomb ? 1 : 0) +
        (cell.right       === this.type.bombFilled || cell.right       === this.type.bomb ? 1 : 0) +
        (cell.bottomRight === this.type.bombFilled || cell.bottomRight === this.type.bomb ? 1 : 0) +
        (cell.bottom      === this.type.bombFilled || cell.bottom      === this.type.bomb ? 1 : 0) +
        (cell.bottomLeft  === this.type.bombFilled || cell.bottomLeft  === this.type.bomb ? 1 : 0) +
        (cell.left        === this.type.bombFilled || cell.left        === this.type.bomb ? 1 : 0)
      })
      return cells
    },

    /*
     * Obtiene la celda actual y las adyacentes
     */

    getNeighborCells(x, y) {
      let hasTop =    y > 0
      let hasBottom = y < this.cells.length -1
      let hasLeft =   x > 0
      let hasRight =  x < this.cells[y].length -1

      return {
        cell:                                this.cells[  y  ][  x  ],
        topLeft:     hasTop    && hasLeft  ? this.cells[y - 1][x - 1] : null,
        top:         hasTop                ? this.cells[y - 1][  x  ] : null,
        topRight:    hasTop    && hasRight ? this.cells[y - 1][x + 1] : null,
        right:       hasRight              ? this.cells[  y  ][x + 1] : null,
        bottomRight: hasBottom && hasRight ? this.cells[y + 1][x + 1] : null,
        bottom:      hasBottom             ? this.cells[y + 1][  x  ] : null,
        bottomLeft:  hasBottom && hasLeft  ? this.cells[y + 1][x - 1] : null,
        left:        hasLeft               ? this.cells[  y  ][x - 1] : null,
        x:           x,
        y:           y,
      }
    },

    /*
     * Funcion que itera por cada celda y te regresa en
     * un callback la celda actual y sus adyacentes
     */

    iterCells(callback, cells = this.cells) {
      for (let y = 0; y < cells.length; y++) {
        for (let x = 0; x < cells[y].length; x++) {
          callback(this.getNeighborCells(x, y))
        }
      }
    },
  }
}

</script>