<template>
  <div class="is-size-1" style="user-select: none; font-family: 'dimitri'; color: var(--clr-main);">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'TitleComponent'
}
</script>