<template>
  <div style="min-height: 100vh; overflow: hidden; background: var(--clr-sec)" class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <Title style="margin-bottom: 30px;">BUSCAMINAS</Title>
    <Game ref="game" style="margin-bottom: 30px" />
    <Controls @play="$refs.game.start()" />
  </div>
</template>

<script>
import Game  from './components/Game.vue'
import Title from './components/Title.vue'
import Controls from './components/Controls.vue'

export default {
  name: 'App',
  components: {
    Game,
    Title,
    Controls,
  }
}
</script>

<style>
@import 'bulma/css/bulma.css';

@font-face {
  font-family: 'dimitri-solid';
  src: url(./assets/DIMITRI_.TTF);
}

@font-face {
  font-family: 'dimitri';
  src: url(./assets/DIMIS___.TTF);
}

@font-face {
  font-family: 'mario-kart-ds';
  src: url(./assets/Mario-Kart-DS.ttf);
}

@font-face {
  font-family: 'squarely';
  src: url(./assets/Squarely.ttf);
}

:root {
  --clr-main: #962FD6;
  --clr-main-bright: #FEF828;
  --clr-sec: #FAB3FF;
};

</style>
